fastapi
uvicorn
pydantic
python-multipart
pandas
scikit-learn
ultralytics
deepface
easyocr==1.7.1
opencv-python-headless
numpy==1.26.4
Pillow==10.4.0
pypdfium2==4.30.0
streamlit
pytesseract
retina-face
tf-keras
